<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Gold coin investment - Digital Investment</title>
    <link rel="shortcut icon" type="image/png" href="https://tradeshub247.net/assets/images/logot.png" />
    <link rel="stylesheet" href="https://tradeshub247.net/assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://tradeshub247.net/assets/css/icofont.css" />
    <link rel="stylesheet" href="https://tradeshub247.net/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://tradeshub247.net/assets/css/lightcase.css" />
    <link rel="stylesheet" href="https://tradeshub247.net/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://tradeshub247.net/assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://tradeshub247.net/assets/css/nice-select.css" />
    <link rel="stylesheet" href="https://tradeshub247.net/assets/css/animate.css" />
    <link rel="stylesheet" href="https://tradeshub247.net/assets/css/style.css" />
    <link rel="stylesheet" href="https://tradeshub247.net/assets/css/responsive.css" />
  </head>

  <body>
    <header class="header-section">
      <div class="header-top">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-6 col-md-6">
              <div class="header-top-left d-flex">
                <div class="support-part">
                  <a style="color: white !important" href="" id="support_"
                    ><i class="fa fa-headphones"></i>Support</a
                  >
                </div>
                <div class="email-part">
                  <a
                    style="color: white !important"
                    href="mailto:support@tradeshub247.net"
                    id="mailto_"
                    ><i class="fa fa-envelope"></i>support@tradeshub247.net</a
                  >
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div
                class="header-top-right d-flex align-items-center justify-content-end"
              >
                <div class="language-part">
                  <i class="fa fa-globe"></i>
                  <style type="text/css">
                    a.gflag {
                      vertical-align: middle;
                      font-size: 16px;
                      padding: 1px 0;
                      background-repeat: no-repeat;
                      background-image: url(//gtranslate.net/flags/16.png);
                    }

                    a.gflag img {
                      border: 2px solid white !important;
                      color: white !important;
                    }

                    a.gflag:hover {
                      background-image: url(//gtranslate.net/flags/16a.png);
                    }

                    #goog-gt-tt {
                      /*display: none !important;*/
                    }

                    .goog-te-banner-frame {
                      /*display: none !important;*/
                    }

                    .goog-te-menu-value:hover {
                      text-decoration: none !important;
                    }

                    body {
                      top: 0 !important;
                    }

                    #google_translate_element2 {
                      display: none !important;
                    }
                    #language {
                      border: 2px solid white !important;
                      color: white !important;
                    }
                  </style>
                  <select id="language_" onchange="doGTranslate(this);">
                    <option value="">Select Language</option>
                    <option value="en|af">Afrikaans</option>
                    <option value="en|sq">Albanian</option>
                    <option value="en|ar">Arabic</option>
                    <option value="en|hy">Armenian</option>
                    <option value="en|az">Azerbaijani</option>
                    <option value="en|eu">Basque</option>
                    <option value="en|be">Belarusian</option>
                    <option value="en|bg">Bulgarian</option>
                    <option value="en|ca">Catalan</option>
                    <option value="en|zh-CN">Chinese (Simplified)</option>
                    <option value="en|zh-TW">Chinese (Traditional)</option>
                    <option value="en|hr">Croatian</option>
                    <option value="en|cs">Czech</option>
                    <option value="en|da">Danish</option>
                    <option value="en|nl">Dutch</option>
                    <option value="en|en">English</option>
                    <option value="en|et">Estonian</option>
                    <option value="en|tl">Filipino</option>
                    <option value="en|fi">Finnish</option>
                    <option value="en|fr">French</option>
                    <option value="en|gl">Galician</option>
                    <option value="en|ka">Georgian</option>
                    <option value="en|de">German</option>
                    <option value="en|el">Greek</option>
                    <option value="en|ht">Haitian Creole</option>
                    <option value="en|iw">Hebrew</option>
                    <option value="en|hi">Hindi</option>
                    <option value="en|hu">Hungarian</option>
                    <option value="en|is">Icelandic</option>
                    <option value="en|id">Indonesian</option>
                    <option value="en|ga">Irish</option>
                    <option value="en|it">Italian</option>
                    <option value="en|ja">Japanese</option>
                    <option value="en|ko">Korean</option>
                    <option value="en|lv">Latvian</option>
                    <option value="en|lt">Lithuanian</option>
                    <option value="en|mk">Macedonian</option>
                    <option value="en|ms">Malay</option>
                    <option value="en|mt">Maltese</option>
                    <option value="en|no">Norwegian</option>
                    <option value="en|fa">Persian</option>
                    <option value="en|pl">Polish</option>
                    <option value="en|pt">Portuguese</option>
                    <option value="en|ro">Romanian</option>
                    <option value="en|ru">Russian</option>
                    <option value="en|sr">Serbian</option>
                    <option value="en|sk">Slovak</option>
                    <option value="en|sl">Slovenian</option>
                    <option value="en|es">Spanish</option>
                    <option value="en|sw">Swahili</option>
                    <option value="en|sv">Swedish</option>
                    <option value="en|th">Thai</option>
                    <option value="en|tr">Turkish</option>
                    <option value="en|uk">Ukrainian</option>
                    <option value="en|ur">Urdu</option>
                    <option value="en|vi">Vietnamese</option>
                    <option value="en|cy">Welsh</option>
                    <option value="en|yi">Yiddish</option>
                  </select>
                  <div id="google_translate_element2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <div class="container">
          <nav class="navbar navbar-expand-xl">
            <a class="site-logo site-title" href="/"
              >
              <!-- <img
                src="https://tradeshub247.net/assets/images/logo.png"
                style="height: 50px !important; width: 150px !important"
                alt="site-logo"
            /> -->
            Gold coin investment
          </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="menu-toggle"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav main-menu ml-auto">
                <li class="active"><a href="/">Home</a></li>
                <li class=""><a href="?a=cust&page=about">about</a></li>
                <li class="">
                  <a href="?a=cust&page=investment">Investment</a>
                </li>
                <li class=""><a href="?a=cust&page=affiliate">Affiliate</a></li>
                <!-- <li class=""><a href="?a=cust&page=forex">Forex</a></li>
              <li class=""><a href="?a=cust&page=stocks">Stocks</a></li>-->

                <li class=""><a href="?a=support">contact us</a></li>
              </ul>
              <div class="header-join-part">
                <a
                  style="margin: 10px"
                  type="button"
                  href="/login.html"
                  class="btn btn-primary btn-hover"
                  data-toggle="modal"
                  >Login</a
                >
                <a
                  type="button"
                  href="/reg.html"
                  class="btn btn-primary btn-hover"
                  data-toggle="modal"
                  >Register</a
                >
              </div>
            </div>
          </nav>
        </div>
      </div>
      <!-- header-bottom end -->
    </header>

    <script type="text/javascript">
      function googleTranslateElementInit2() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            autoDisplay: false,
          },
          "google_translate_element2"
        );
      }
    </script>
    <script
      type="text/javascript"
      src="https://translate.google.org/translate_a/element.js?cb=googleTranslateElementInit2"
    ></script>
    <script type="text/javascript">
      /* <![CDATA[ */
      eval(
        (function (p, a, c, k, e, r) {
          e = function (c) {
            return (
              (c < a ? "" : e(parseInt(c / a))) +
              ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36))
            );
          };
          if (!"".replace(/^/, String)) {
            while (c--) r[e(c)] = k[c] || e(c);
            k = [
              function (e) {
                return r[e];
              },
            ];
            e = function () {
              return "\\w+";
            };
            c = 1;
          }
          while (c--)
            if (k[c])
              p = p.replace(new RegExp("\\b" + e(c) + "\\b", "g"), k[c]);
          return p;
        })(
          "6 7(a,b){n{4(2.9){3 c=2.9(\"o\");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s('t'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a=='')v;3 b=a.w('|')[1];3 c;3 d=2.x('y');z(3 i=0;i<d.5;i++)4(d[i].A=='B-C-D')c=d[i];4(2.j('k')==E||2.j('k').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,'m');7(c,'m')}}",
          43,
          43,
          "||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500".split(
            "|"
          ),
          0,
          {}
        )
      );
      /* ]]> */
    </script>

    <script type="text/javascript">
      (function () {
        var options = {
          whatsapp: "+1(714)919‑9312", // WhatsApp number
          call_to_action: "Message us", // Call to action
          position: "left", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol,
          host = "getbutton.io",
          url = proto + "//static." + host;
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.async = true;
        s.src = url + "/widget-send-button/js/init.js";
        s.onload = function () {
          WhWidgetSendButton.init(host, proto, options);
        };
        var x = document.getElementsByTagName("script")[0];
        x.parentNode.insertBefore(s, x);
      })();
    </script>

    <!-- banner-section start -->
    <section class="banner-section banner--three">
      <div class="banner-elements-image anim-bounce">
        <img src="https://tradeshub247.net/assets/images/elements/home3-banner.png" alt="image" />
      </div>
      <div class="shape">
        <img src="https://tradeshub247.net/assets/images/elements/banner-three-shape.png" alt="image" />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="banner-content-area">
              <div class="banner-content">
                <span class="banner-sub-title" style="color: white !important"
                  >Turn Your Passion to Profit !</span
                >
                <h2 class="banner-title" style="color: white !important">
                  Best Defi Investment Platform/ Simplified Investment Platform
                </h2>
                <p style="color: white !important">
                  Have you ever thought about financial freedom? Do you plan on
                  how to get financial freedom? A lot of people out here are
                  chasing financial freedom but for lack of information they
                  don't know the steps to take. Finding yourself on this page is
                  not a coincidence, rather it is a signal that financial
                  freedom is only steps away if you make the right choice, the
                  right decision by joining 247 Trade Hub
                </p>
              </div>
              <div class="banner-btn-area">
                <a href="?a=signup" class="btn btn-primary btn-hover"
                  >Get Started now!</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- banner-section end -->

    <!-- counter-section start -->
    <!--<div class="counter-sections">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="counter-area d-flex justify-content-between">
            <div class="counter-item">
              <div class="counter-icon">
                <img src="assets/images/icons/counter/1.svg" alt="icon">
              </div>
              <div class="counter-content">
                <span>$</span>
                <span class="counter">961</span>
                <span>k</span>
                <span class="caption">Invested in Pitches</span>
              </div>
            </div>
            <div class="counter-item">
              <div class="counter-icon">
                <img src="assets/images/icons/counter/2.svg" alt="icon">
              </div>
              <div class="counter-content">
                <span></span>
                <span class="counter">40</span>
                <span>k</span>
                <span class="caption">Registered Members</span>
              </div>
            </div>
            <div class="counter-item">
              <div class="counter-icon">
                <img src="assets/images/icons/counter/3.svg" alt="icon">
              </div>
              <div class="counter-content">
                <span>$</span>
                <span class="counter">14</span>
                <span>k</span>
                <span class="caption">Average Investment</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
    <!-- counter-section end -->

    <!-- features-section start -->
    <section class="features-section pt-120 pb-120">
      <div class="shape">
        <img src="https://tradeshub247.net/assets/images/elements/invest-shape-two.png" alt="image" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-header text-center">
              <span class="section-subtitle">Our Amazing Features</span>
              <h2 class="section-title">Investing For Everyone</h2>
              <p>
                We are a global investment firm dedicated to maximizing profits
                while minimizing financial risks.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-4">
            <div
              class="feature-thumb wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay="0.5s"
            >
              <img src="https://tradeshub247.net/assets/images/elements/features2.png" alt="image" />
            </div>
          </div>
          <div class="col-xl-4 offset-md-1">
            <div
              class="feature-item wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay="0.3s"
            >
              <div class="icon">
                <div class="icon-inner">
                  <img src="https://tradeshub247.net/assets/images/icons/investment/1.svg" alt="icon" />
                </div>
              </div>
              <div class="content">
                <h3 class="title">Sign up in minutes</h3>
                <p>
                  Sign Up - Register and fill in your details and do the
                  required KYC
                </p>
                <a
                  href="?a=signup"
                  data-toggle="modal"
                  data-target="#signUpModal"
                  >get started</a
                >
              </div>
            </div>
            <!-- feature-item end -->
            <div
              class="feature-item wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay="0.5s"
            >
              <div class="icon">
                <div class="icon-inner">
                  <img src="https://tradeshub247.net/assets/images/icons/investment/2.svg" alt="icon" />
                </div>
              </div>
              <div class="content">
                <h3 class="title">Investing Made Easy</h3>
                <p>
                  Choose from four simple starting option - cautious , balanced
                  & adventurous.We’ll take care of the rest!
                </p>
                <a href="?a=cust&page=investment">read more</a>
              </div>
            </div>
            <!-- feature-item end -->
            <div
              class="feature-item wow fadeIn"
              data-wow-duration="2s"
              data-wow-delay="0.7s"
            >
              <div class="icon">
                <div class="icon-inner">
                  <img src="https://tradeshub247.net/assets/images/icons/investment/3.svg" alt="icon" />
                </div>
              </div>
              <div class="content">
                <h3 class="title">Build Your Porfolio</h3>
                <p>
                  We’ll help you pick an investment strategy that reflects your
                  interests,beliefs and goals.
                </p>
                <a href="?a=cust&page=investment">explore our investing </a>
              </div>
            </div>
            <!-- feature-item end -->
          </div>
        </div>
      </div>
    </section>
    <!-- features-section end -->

    <!-- choose-us-section start -->
    <section
      class="choose-us-section pt-120 pb-120 bg_img"
      data-background="https://tradeshub247.net/assets/images/elements/choose-us-bg-shape.png"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-header text-center">
              <span class="section-subtitle">Boost your Money</span>
              <h2 class="section-title">Why you Should Choose Us</h2>
              <p>
                Our service gives you better result and savings, as per your
                requirement and you can manage your investments from anywhere
                either form home or work place,any time.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid p-0">
        <div class="row m-0">
          <div class="col-lg-12 p-0">
            <div class="choose-us-slider owl-carousel">
              <div class="choose-item text-center">
                <div class="choose-thumb">
                  <img src="https://tradeshub247.net/assets/images/choose-us/1.png" alt="image" />
                </div>
                <div class="choose-content">
                  <h3 class="title">Fast Profit</h3>
                  <p>
                    We're talking about ways you can make money fast.Invest
                    money and get reward, bonus and profit
                  </p>
                  <!-- <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a> -->
                </div>
              </div>
              <!-- choose-item end -->
              <div class="choose-item text-center">
                <div class="choose-thumb">
                  <img src="https://tradeshub247.net/assets/images/choose-us/2.png" alt="image" />
                </div>
                <div class="choose-content">
                  <h3 class="title">Instant Withdraw</h3>
                  <p>
                    We’re extremely excited to launch instant withdrawals. You
                    can deposit, grow and withdraw funds in just a few clicks.
                  </p>
                  <!-- <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a> -->
                </div>
              </div>
              <!-- choose-item end -->
              <div class="choose-item text-center">
                <div class="choose-thumb">
                  <img src="https://tradeshub247.net/assets/images/choose-us/3.png" alt="image" />
                </div>
                <div class="choose-content">
                  <h3 class="title">Dedicated Server</h3>
                  <p>
                    Dedicated server hosting with 100% guaranteed network
                    uptime.There's no sharing of CPU time, RAM or bandwidth
                  </p>
                  <!-- <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a> -->
                </div>
              </div>
              <!-- choose-item end -->
              <div class="choose-item text-center">
                <div class="choose-thumb">
                  <img src="assets/images/choose-us/4.png" alt="image" />
                </div>
                <div class="choose-content">
                  <h3 class="title">DDoS Protection</h3>
                  <p>
                    To protect your resources from modern DDoS attacks is
                    through a multi-layer deployment of purpose-built DDoS
                    mitigation
                  </p>
                  <!-- <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a> -->
                </div>
              </div>
              <!-- choose-item end -->
              <div class="choose-item text-center">
                <div class="choose-thumb">
                  <img src="https://tradeshub247.net/assets/images/choose-us/5.png" alt="image" />
                </div>
                <div class="choose-content">
                  <h3 class="title">24/7 Support</h3>
                  <p>
                    Our Technical Support team is available for any
                    questions.Our multilingual 24/7 support allows to keep in
                    touch.
                  </p>
                  <a href="mailto:support@247tradehub.net" class="read-more-btn"
                    >contact us<i class="fa fa-long-arrow-right"></i
                  ></a>
                </div>
              </div>
              <!-- choose-item end -->
              <div class="choose-item text-center">
                <div class="choose-thumb">
                  <img src="https://tradeshub247.net/assets/images/choose-us/1.png" alt="image" />
                </div>
                <div class="choose-content">
                  <h3 class="title">Fast Profit</h3>
                  <p>
                    We're talking about ways you can make money fast.Invest
                    money and get reward, bonus and profit
                  </p>
                  <!-- <a href="#0" class="read-more-btn">get started<i class="fa fa-long-arrow-right"></i></a> -->
                </div>
              </div>
              <!-- choose-item end -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- choose-us-section end -->

    <!-- invest-section start -->
    <!-- <section class="invest-section pt-xl-120 pb-120 bg_img" data-background="assets/images/bg-1.png">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section-header text-center text-white">
            <span class="section-subtitle">The smarter way to invest!</span>
            <h2 class="section-title">Start investing! It’s never too late</h2>
            <p>Make sound investment decisions with the help of our research & analytical assets.The minimum  deposit is $5, and maximum is $100,000. We pay 7 days per week.  You may make additional deposits at any time. All our payments are instant payments.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="invest-table-area wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
            <table>
              <thead>
                <tr>
                  <th>share</th>
                  <th>price</th>
                  <th>growth</th>
                  <th>daily dividend</th>
                  <th>investors</th>
                  <th>time remainig</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="person-details">
                      <div class="thumb"><img src="assets/images/invest/1.png" alt="image"></div>
                      <div class="content">
                        <span class="name">Forex Stable Income</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="price">$10.50</span>
                  </td>
                  <td>
                    <span class="growth">122% <i class="fa fa-arrow-up"></i></span>
                  </td>
                  <td>
                    <span class="daily-dividend">$0.9</span>
                  </td>
                  <td>
                    <span class="investors-amount">718</span>
                  </td>
                  <td>
                    <span class="remaining-time">21 DAYS</span>
                    <a href="#0" class="btn btn-primary btn-round pull-right">invest now</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="person-details">
                      <div class="thumb"><img src="assets/images/invest/2.png" alt="image"></div>
                      <div class="content">
                        <span class="name">Pavimentadora Real Ltd</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="price">$10.50</span>
                  </td>
                  <td>
                    <span class="growth">122% <i class="fa fa-arrow-up"></i></span>
                  </td>
                  <td>
                    <span class="daily-dividend">$0.9</span>
                  </td>
                  <td>
                    <span class="investors-amount">718</span>
                  </td>
                  <td>
                    <span class="remaining-time">21 DAYS</span>
                    <a href="#0" class="btn btn-primary btn-round pull-right">invest now</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="person-details">
                      <div class="thumb"><img src="assets/images/invest/3.png" alt="image"></div>
                      <div class="content">
                        <span class="name">Ethereum Farm</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="price">$10.50</span>
                  </td>
                  <td>
                    <span class="growth">122% <i class="fa fa-arrow-up"></i></span>
                  </td>
                  <td>
                    <span class="daily-dividend">$0.9</span>
                  </td>
                  <td>
                    <span class="investors-amount">718</span>
                  </td>
                  <td>
                    <span class="remaining-time">21 DAYS</span>
                    <a href="#0" class="btn btn-primary btn-round pull-right">invest now</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="person-details">
                      <div class="thumb"><img src="assets/images/invest/4.png" alt="image"></div>
                      <div class="content">
                        <span class="name">Legacinet Works</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="price">$10.50</span>
                  </td>
                  <td>
                    <span class="growth">122% <i class="fa fa-arrow-up"></i></span>
                  </td>
                  <td>
                    <span class="daily-dividend">$0.9</span>
                  </td>
                  <td>
                    <span class="investors-amount">718</span>
                  </td>
                  <td>
                    <span class="remaining-time">21 DAYS</span>
                    <a href="#0" class="btn btn-primary btn-round pull-right">invest now</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="person-details">
                      <div class="thumb"><img src="assets/images/invest/2.png" alt="image"></div>
                      <div class="content">
                        <span class="name">Healthcare Tech</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="price">$10.50</span>
                  </td>
                  <td>
                    <span class="growth">122% <i class="fa fa-arrow-up"></i></span>
                  </td>
                  <td>
                    <span class="daily-dividend">$0.9</span>
                  </td>
                  <td>
                    <span class="investors-amount">718</span>
                  </td>
                  <td>
                    <span class="remaining-time">21 DAYS</span>
                    <a href="#0" class="btn btn-primary btn-round pull-right">invest now</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="btn-area mt-50 text-center">
            <a href="#0" class="btn btn-primary btn-hover text-small">browse more</a>
          </div>
        </div>
      </div>
    </div>
  </section> -->
    <!-- invest-section end -->

    <!-- offer-section start -->
    <section
      class="offer-section pt-120 pb-120 bg_img"
      data-background="https://tradeshub247.net/assets/images/offer-bg.png"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div
              class="section-header text-center wow fadeIn"
              data-wow-duration="0.8s"
              data-wow-delay="0.5s"
            >
              <span class="section-subtitle"
                >Our mission is to help our User</span
              >
              <h2 class="section-title">To Maximize Income Passively</h2>
              <a
                href="?a=cust&page=what-we-offer"
                class="btn btn-primary text-small btn-hover mt-30"
                >what we offer</a
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="offer-slider owl-carousel">
              <div class="offer-item">
                <div class="icon">
                  <img src="https://tradeshub247.net/assets/images/icons/offer/1.svg" alt="icon" />
                </div>
                <div class="content">
                  <h3 class="title">smart deposit</h3>
                  <p>Best way to put your idle money to work.</p>
                  <a href="#" target="_blank" class="read-more-btn"
                    >read more<i class="icofont-long-arrow-right"></i
                  ></a>
                </div>
              </div>
              <!-- offer-item end -->
              <div class="offer-item">
                <div class="icon">
                  <img src="https://tradeshub247.net/assets/images/icons/offer/2.svg" alt="icon" />
                </div>
                <div class="content">
                  <h3 class="title">One - Tap Invest</h3>
                  <p>Invest without net baning/debit card.</p>
                  <!-- <a href="#0" class="read-more-btn">read more<i class="icofont-long-arrow-right"></i></a> -->
                </div>
              </div>
              <!-- offer-item end -->
              <div class="offer-item">
                <div class="icon">
                  <img src="https://tradeshub247.net/assets/images/icons/offer/3.svg" alt="icon" />
                </div>
                <div class="content">
                  <h3 class="title">invest & saving</h3>
                  <p>Grow your saving by investing as little as $5</p>
                  <a href="#" target="_blank" class="read-more-btn"
                    >read more<i class="icofont-long-arrow-right"></i
                  ></a>
                </div>
              </div>
              <!-- offer-item end -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- offer-section end -->

    <!-- deposit-withdraw-section start -->
    <section class="deposit-withdraw-section pt-120 pb-120">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-header text-center">
              <span class="section-subtitle">Convenient money</span>
              <h2 class="section-title">Deposit & Withdrawal</h2>
              <p>
                Depositing or withdrawing money is simple.We support several
                payment methods, which depend on what country your payment
                account is located in.
              </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-6 order-lg-1 order-2">
            <div class="feature-item">
              <div class="icon">
                <div class="icon-inner">
                  <img
                    src="https://tradeshub247.net/assets/images/icons/payment-option/ft1.svg"
                    alt="icon"
                  />
                </div>
              </div>
              <div class="content">
                <h3 class="title">No Limits</h3>
                <p>Unlimited maximum withdrawal amount</p>
              </div>
            </div>
            <!-- feature-item end -->
            <div class="feature-item">
              <div class="icon">
                <div class="icon-inner">
                  <img
                    src="https://tradeshub247.net/assets/images/icons/payment-option/ft2.svg"
                    alt="icon"
                  />
                </div>
              </div>
              <div class="content">
                <h3 class="title">Withdrawal in 24 /7</h3>
                <p>Deposit – instantaneous</p>
              </div>
            </div>
            <!-- feature-item end -->
          </div>
          <div class="col-lg-5 order-lg-2 order-1">
            <div
              class="dep-wth-option-area wow fadeIn"
              data-wow-duration="0.8s"
              data-wow-delay="0.5s"
            >
              <span class="circle one"></span>
              <span class="circle two"></span>
              <span class="circle three"></span>
              <span class="circle four"></span>
              <!-- <a href="#0" class="card-item">
              <span class="icon"><img src="assets/images/icons/payment-option/card.svg" alt="image"></span>
              <span class="caption">Credit Card</span>
            </a>
             -->
              <!-- card-item end -->

              <!-- <a href="#0" class="card-item">
              <span class="icon"><img src="assets/images/icons/payment-option/paypal.svg" alt="image"></span>
              <span class="caption">Pay pal</span>
            </a> -->

              <a href="#" class="card-item">
                <span class="icon"
                  ><img
                    src="https://tradeshub247.net/assets/images/icons/payment-option/bitcoin.svg"
                    alt="image"
                /></span>
                <span class="caption">Bitcoin</span>
              </a>
              <!-- card-item end -->

              <!-- <a href="#0" class="card-item">
              <span class="icon"><img src="assets/images/icons/payment-option/litecoin.svg" alt="image"></span>
              <span class="caption">Litecoin</span>
            </a>
             -->
              <!-- card-item end -->

              <a href="#" class="card-item">
                <span class="icon"
                  ><img
                    src="https://tradeshub247.net/assets/images/icons/payment-option/ethereum.svg"
                    alt="image"
                /></span>
                <span class="caption">ethereum</span>
              </a>

              <!-- card-item end -->
              <!-- <a href="#0" class="card-item">
              <span class="icon"><img src="assets/images/icons/payment-option/ripple.svg" alt="image"></span>
              <span class="caption">Ripple</span>
            </a>
             -->
              <!-- card-item end -->
              <!-- <a href="#0" class="text-btn">view all option</a> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- deposit-withdraw-section end -->

    <!-- community-section start -->
    <section class="community-section pt-120 pb-120">
      <div class="element-shape">
        <img
          src="https://tradeshub247.net/assets/images/elements/criptocurrency-shape.png"
          alt="image"
        />
      </div>
      <div class="element-img anim-bounce">
        <img src="https://tradeshub247.net/assets/images/elements/criptocurrency-el.png" alt="image" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div
              class="section-header text-center wow fadeIn"
              data-wow-duration="0.8s"
              data-wow-delay="0.5s"
            >
              <span class="section-subtitle">We support</span>
              <h2 class="section-title">Cryptocurrency Community</h2>
              <p>
                Access a world of dynamic investment opportunities, buy into
                businesses you believe in and share in their success.You may
                make additional deposits at any time. All our payments are
                instant payments.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="row mb-none-30">
              <div class="col-xl-5 offset-xl-5 col-md-6">
                <div class="community-item community-item--style2 mb-30">
                  <div class="icon">
                    <img
                      src="https://tradeshub247.net/assets/images/icons/community/1.svg"
                      alt="image"
                    />
                  </div>
                  <div class="content">
                    <h3 class="title">Simplicity</h3>
                    <p>We’re eliminating complex user experiences.</p>
                    <!-- <a href="#0" class="read-more-btn">read more<i class="icofont-long-arrow-right"></i></a> -->
                  </div>
                </div>
                <!-- community-item end -->
              </div>
              <div class="col-xl-5 offset-xl-6 col-md-6">
                <div class="community-item community-item--style2 mb-30">
                  <div class="icon">
                    <img
                      src="https://tradeshub247.net/assets/images/icons/community/2.svg"
                      alt="image"
                    />
                  </div>
                  <div class="content">
                    <h3 class="title">security</h3>
                    <p>Enhanced security features like multi-factor</p>
                    <!-- <a href="#0" class="read-more-btn">read more<i class="icofont-long-arrow-right"></i></a> -->
                  </div>
                </div>
                <!-- community-item end -->
              </div>
              <div class="col-xl-5 offset-xl-7 col-md-6">
                <div class="community-item community-item--style2 mb-30">
                  <div class="icon">
                    <img
                      src="https://tradeshub247.net/assets/images/icons/community/3.svg"
                      alt="image"
                    />
                  </div>
                  <div class="content">
                    <h3 class="title">support</h3>
                    <p>Get all the support you need for your Investment</p>
                    <a
                      href="mailto:support@247tradehub.net"
                      class="read-more-btn"
                      >contact us<i class="icofont-long-arrow-right"></i
                    ></a>
                  </div>
                </div>
                <!-- community-item end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- community-section end -->

    <!-- affiliate-features-section start -->
    <section class="affiliate-features-section style--tow pt-120 pb-120">
      <div class="shape-el">
        <img
          src="https://tradeshub247.net/assets/images/elements/affiliate-round-shape.png"
          alt="image"
        />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="row mb-none-30">
              <div class="col-md-6">
                <div
                  class="affiliate-features-item item--style2 text-center mb-30"
                >
                  <div class="icon">
                    <img
                      src="https://tradeshub247.net/assets/images/icons/affiliate-features/1.svg"
                      alt="image"
                    />
                  </div>
                  <span class="subtitle">Enjoy unlimited</span>
                  <h3 class="title">Commissions</h3>
                </div>
              </div>
              <!-- affiliate-features-item end -->
              <div class="col-md-6">
                <div
                  class="affiliate-features-item item--style2 text-center mb-30"
                >
                  <div class="icon">
                    <img
                      src="https://tradeshub247.net/assets/images/icons/affiliate-features/2.svg"
                      alt="image"
                    />
                  </div>
                  <span class="subtitle">Extra Bonus and</span>
                  <h3 class="title">Promotions</h3>
                </div>
              </div>
              <!-- affiliate-features-item end -->
              <div class="col-md-6">
                <div
                  class="affiliate-features-item item--style2 text-center mb-30"
                >
                  <div class="icon">
                    <img
                      src="https://tradeshub247.net/assets/images/icons/affiliate-features/3.svg"
                      alt="image"
                    />
                  </div>
                  <span class="subtitle">Get top notch</span>
                  <h3 class="title">Support</h3>
                </div>
              </div>
              <!-- affiliate-features-item end -->
              <div class="col-md-6">
                <div
                  class="affiliate-features-item item--style2 text-center mb-30"
                >
                  <div class="icon">
                    <img
                      src="https://tradeshub247.net/assets/images/icons/affiliate-features/4.svg"
                      alt="image"
                    />
                  </div>
                  <span class="subtitle">Joining is</span>
                  <h3 class="title">Free & Easy</h3>
                </div>
              </div>
              <!-- affiliate-features-item end -->
            </div>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-5">
            <div class="affiliate-features-content">
              <div class="section-header">
                <span class="section-subtitle">Earn The Big Money</span>
                <h2 class="section-title">Affiliate Program</h2>
                <p>
                  Our affiliate program can increase your income by receiving
                  percentage from the purchases made by your referrals into.
                </p>
              </div>
              <p>
                Invite other users (for example, your friends, co-workers, etc.)
                to join the project. After registration they will be your
                referrals; and if they purchase any item on our web site you
                receive 10% reward.
              </p>
              <a
                href="?a=cust&page=affiliate"
                class="btn btn-primary btn-hover text-small"
                >Get started</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- affiliate-features-section end -->

    <!-- testimonial-section start -->
    <section class="testimonial-section pt-xl-120 pb-120">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="section-header text-center">
              <span class="section-subtitle">Testimonials</span>
              <h2 class="section-title">Over 40,000 Happy Customers</h2>
              <p>
                We have many happy investors invest with us .Some impresions
                from our Customers! PLease read some of the lovely things our
                Customers say about us.
              </p>
              <div class="btn-area">
                <a
                  href="?a=signup"
                  class="btn btn-primary text-small"
                  data-toggle="modal"
                  data-target=""
                  >join us</a
                >
                <a
                  href="?a=cust&page=what-we-offer"
                  class="btn btn-primary text-small"
                  >what we offer</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div
              class="testimonial-wrapper style--one d-lg-flex flex-wrap justify-content-between d-none"
            >
              <div class="testimonial-single">
                <div class="thumb">
                  <img src="https://tradeshub247.net/assets/images/testimonial/1.jpg" alt="image" />
                </div>
                <div class="details text-center">
                  <p>
                    I have kept my eye out over the years whenever there is a
                    printed review of portfolio management software. I can say
                    unequivocally that there is not a better all-around
                    portfolio management software program out there today. 247
                    Trade Hub handles everything... even those esoteric
                    transactions that no one thinks about talking about in the
                    media. And, Quicken is not sophisticated enough to handle
                    the transactions as seamlessly as 247 Trade Hub . 247 Trade
                    Hub is a GEM!
                  </p>
                  <h4 class="name">Pierre Cox</h4>
                  <span class="client-details"
                    >United States of America, 28th April,2020</span
                  >
                  <span class="arrow-wrap"><span class="arrow"></span></span>
                </div>
              </div>
              <!-- testimonial-single end -->
              <div class="testimonial-single">
                <div class="thumb">
                  <img src="https://tradeshub247.net/assets/images/testimonial/2.jpg" alt="image" />
                </div>
                <div class="details text-center">
                  <p>
                    This is the best portfolio management program I have used it
                    my 30+years of investing. I would recommend 247 Trade Hub to
                    anyone with a portfolio of any size.
                  </p>
                  <h4 class="name">Thomas Crane</h4>
                  <span class="client-details"
                    >United States of America, 6th May,2020</span
                  >
                  <span class="arrow-wrap"><span class="arrow"></span></span>
                </div>
              </div>
              <!-- testimonial-single end -->
              <div class="testimonial-single">
                <div class="thumb">
                  <img src="https://tradeshub247.net/assets/images/testimonial/3.jpg" alt="image" />
                </div>
                <div class="details text-center">
                  <p>
                    247 Trade Hub puts me in a position of strength as the CEO
                    of my investment "company". I especially love the year-end
                    reports to see how I've done vs. the professionals or the
                    S&P. 247 Trade Hub reports cover so many aspects of
                    portfolio management! Keep up the good work!
                  </p>
                  <h4 class="name">Alvaro Mcgee</h4>
                  <span class="client-details">Germany, 3rd April,2018</span>
                  <span class="arrow-wrap"><span class="arrow"></span></span>
                </div>
              </div>
              <!-- testimonial-single end -->
              <div class="testimonial-single active">
                <div class="thumb">
                  <img src="https://tradeshub247.net/assets/images/testimonial/4.jpg" alt="image" />
                </div>
                <div class="details text-center">
                  <p>
                    I don't know what I would do without it. 247 Trade Hub helps
                    me track and plan my investments. Even though my funds are
                    limited and I am electronically challenged, it works for me.
                    I believe it is a valuable tool for everyone regardless of
                    the size or complexity of accounts. It works well for
                    businesses and individuals.
                  </p>
                  <h4 class="name">Miranda Shaffer</h4>
                  <span class="client-details">Canada, 26th April,2020</span>
                  <span class="arrow-wrap"><span class="arrow"></span></span>
                </div>
              </div>
              <!-- testimonial-single end -->
              <div class="testimonial-single">
                <div class="thumb">
                  <img src="https://tradeshub247.net/assets/images/testimonial/5.jpg" alt="image" />
                </div>
                <div class="details text-center">
                  <p>
                    247 Trade Hub is a great program for an individual investor
                    to monitor their investments.
                  </p>
                  <h4 class="name">Ignacio Mcpherson</h4>
                  <span class="client-details"
                    >United States of America, 15th April,2019</span
                  >
                  <span class="arrow-wrap"><span class="arrow"></span></span>
                </div>
              </div>
              <!-- testimonial-single end -->
              <div class="testimonial-single">
                <div class="thumb">
                  <img src="https://tradeshub247.net/assets/images/testimonial/6.jpg" alt="image" />
                </div>
                <div class="details text-center">
                  <p class="text-sm">
                    After reviewing several investment management software
                    programs to manage my portfolios, this one is the best on
                    the market, and I'm very happy I chose 247 Trade Hub. The
                    program is simple and easy to use, yet powerful. Thank you
                    247 Trade Hub Team.
                  </p>
                  <h4 class="name">Brian Robertson</h4>
                  <span class="client-details"
                    >United kingdom, 3rd Sept,2020</span
                  >
                  <span class="arrow-wrap"><span class="arrow"></span></span>
                </div>
              </div>
              <!-- testimonial-single end -->
            </div>

            <div class="testmonial-slider-wrapper d-lg-none mb-4">
              <div class="testimonial-slider owl-carousel">
                <div class="testimonial-single-two">
                  <div class="thumb">
                    <img
                      src="https://tradeshub247.net/assets/images/testimonial/5.jpg"
                      style="border-radius: 50%"
                      alt="image"
                    />
                  </div>
                  <h4 class="name">Ignacio Mcpherson</h4>
                  <span class="designation">USA, 15th April 2020</span>
                  <p>
                    247 Trade Hub is a great program for an individual investor
                    to monitor their investments.
                  </p>
                </div>
                <!-- testimonial-single-two end -->

                <div class="testimonial-single-two">
                  <div class="thumb">
                    <img
                      src="https://tradeshub247.net/assets/images/testimonial/6.jpg"
                      style="border-radius: 50%"
                      alt="image"
                    />
                  </div>
                  <h4 class="name">Brian Robertson</h4>
                  <span class="designation">United kingdom, 3rd Sept,2020</span>
                  <p>
                    After reviewing several investment management software
                    programs to manage my portfolios, this one is the best on
                    the market, and I'm very happy I chose 247 Trade Hub. The
                    program is simple and easy to use, yet powerful. Thank you
                    247 Trade Hub Team.
                  </p>
                </div>
                <!-- testimonial-single-two end -->

                <div class="testimonial-single-two">
                  <div class="thumb">
                    <img
                      src="https://tradeshub247.net/assets/images/testimonial/4.jpg"
                      style="border-radius: 50%"
                      alt="image"
                    />
                  </div>
                  <h4 class="name">Miranda Shaffer</h4>
                  <span class="designation">Canada, 26th April,2020</span>
                  <p>
                    I don't know what I would do without it. 247 Trade Hub helps
                    me track and plan my investments. Even though my funds are
                    limited and I am electronically challenged, it works for me.
                    I believe it is a valuable tool for everyone regardless of
                    the size or complexity of accounts. It works well for
                    businesses and individuals.
                  </p>
                </div>
                <!-- testimonial-single-two end -->

                <div class="testimonial-single-two">
                  <div class="thumb">
                    <img
                      src="https://tradeshub247.net/assets/images/testimonial/3.jpg"
                      style="border-radius: 50%"
                      alt="image"
                    />
                  </div>
                  <h4 class="name">Alvaro Mcgee</h4>
                  <span class="designation">Germany, 3rd April,2019</span>
                  <p>
                    247 Trade Hub puts me in a position of strength as the CEO
                    of my investment "company". I especially love the year-end
                    reports to see how I've done vs. the professionals or the
                    S&P. 247 Trade Hub reports cover so many aspects of
                    portfolio management! Keep up the good work!
                  </p>
                </div>
                <!-- testimonial-single-two end -->

                <div class="testimonial-single-two">
                  <div class="thumb">
                    <img
                      src="https://tradeshub247.net/assets/images/testimonial/2.jpg"
                      style="border-radius: 50%"
                      alt="image"
                    />
                  </div>
                  <h4 class="name">Thomas Crane</h4>
                  <span class="designation"
                    >United States of America, 3rd Sept,2020</span
                  >
                  <p>
                    This is the best portfolio management program I have used it
                    my 30+years of investing. I would recommend 247 Trade Hub to
                    anyone with a portfolio of any size.
                  </p>
                </div>
                <!-- testimonial-single-two end -->

                <div class="testimonial-single-two">
                  <div class="thumb">
                    <img
                      src="https://tradeshub247.net/assets/images/testimonial/1.jpg"
                      style="border-radius: 50%"
                      alt="image"
                    />
                  </div>
                  <h4 class="name">Pierre Cox</h4>
                  <span class="designation">United kingdom, 3rd Sept,2018</span>
                  <p>
                    I have kept my eye out over the years whenever there is a
                    printed review of portfolio management software. I can say
                    unequivocally that there is not a better all-around
                    portfolio management software program out there today. 247
                    Trade Hub handles everything... even those esoteric
                    transactions that no one thinks about talking about in the
                    media. And, Quicken is not sophisticated enough to handle
                    the transactions as seamlessly as 247 Trade Hub . 247 Trade
                    Hub is a GEM!
                  </p>
                </div>
                <!-- testimonial-single-two end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- testimonial-section end -->

    <!-- investors-section start -->
    <!-- investors-section end -->

    <!-- partner-section start -->

    <!-- partner-section end -->

    <!-- footer-section start -->

    <footer class="footer-section">
      <div
        class="footer-top bg_img"
        data-background="https://tradeshub247.net/assets/images/footer-bg-2.png"
      >
        <div class="container">
          <!--<div class="row justify-content-center">
          <div class="col-lg-9">
            <div class="section-header text-white text-center">
              <span class="section-subtitle">Subscribe to 247tradehub</span>
              <h2 class="section-title">To Get Exclusive Benefits</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="subscribe-wrapper style--two">
              <form class="subscribe-form"><input type="hidden" name="form_id" value="17213143151384"><input type="hidden" name="form_token" value="915f8ba35a42fca826ba0afca9c05513">
                <input type="text" name="subs_name" id="subs_name" placeholder="Your Email Address">
                <button type="submit" class="subs-btn">subscribe</button>
              </form>
            </div>
          </div>
        </div>-->
          <div class="row mb-none-30">
            <div class="col-lg-4 col-sm-6">
              <div class="footer-widget mb-30">
                <h3 class="widget-title">About 247tradehub</h3>
                <ul class="footer-menu-list">
                  <li><a href="?a=cust&page=about">About</a></li>
                  <li><a href="?a=support">Contact Us</a></li>
                  <li><a href="?a=cust&page=investment">Our Plans</a></li>
                  <li><a href="?a=cust&page=affiliate">Affiliate</a></li>
                  <li>
                    <a href="?a=cust&page=safety-and-security"
                      >Safety & Security</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <!-- footer-widget end -->
            <!--<div class="col-lg-3 col-sm-6">
            <div class="footer-widget mb-30">
              <h3 class="widget-title">My Account</h3>
              <ul class="footer-menu-list">
                <li><a href="./dashboard/invest/index">Manage Your Account</a></li>
                <li><a href="./dashboard/invest/invest">Deposit</a></li>
                <li><a href="./dashboard/invest/withdrawal-form">Withdraw</a></li>

                <li><a href="./dashboard/invest/schemes">Investments</a></li>
              </ul>
            </div>
          </div>-->
            <!-- footer-widget end -->
            <div class="col-lg-4 col-sm-6">
              <div class="footer-widget mb-30">
                <h3 class="widget-title">help center</h3>
                <ul class="footer-menu-list">
                  <li><a href="?a=support">Direct Contact</a></li>
                  <!-- <li><a href="./faq">FAQ</a></li> -->
                  <li><a href="?a=cust&page=how-work">How it works</a></li>
                  <li>
                    <a href="?a=cust&page=terms-and-conditions"
                      >Terms and Conditions</a
                    >
                  </li>
                  <li>
                    <a href="?a=cust&page=what-we-offer">What we offer</a>
                  </li>
                  <li>
                    <a href="?a=cust&page=privacy-and-policy"
                      >Privacy and Policy</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <!-- footer-widget end -->
            <div class="col-lg-4 col-sm-6">
              <div class="footer-widget mb-30">
                <h3 class="widget-title">Contact</h3>
                <ul class="footer-menu-list">
                  <li>
                    <a href="#0">
                      Boyce Avenue 94301, Palo Alto, Unites States
                    </a>
                  </li>

                  <li>
                    <a href="#"> +1 (201) 378-6044 </a>
                  </li>
                  <li>
                    <!-- <a href=""
                      >support@tradeshub247.net</a
                    > -->
                  </li>
                  <li>
                    <!--<a href="https://www.facebook.org/uniontradepro/" target="_blank">-->
                    <!--<i class="fa fa-facebook"></i>-->
                    <!--</a>-->

                    <!--<a href="https://twitter.org/uniontradepro" target="_blank">-->
                    <!--<i class="fa fa-twitter"></i>-->
                    <!--</a>
<a href="#" target="_blank">
<i class="fa fa-instagram"></i>
</a>
<a href="#" target="_blank">
<i class="fa fa-telegram"></i>

</a>-->
                  </li>
                </ul>
              </div>
            </div>
            <!-- footer-widget end -->
          </div>
          <!-- <div class="row">
          <div class="col-lg-12">
            <div class="btn-area text-center border-top-bottom">
              <a href="#0" class="wow zoomIn" data-wow-duration="0.3s" data-wow-delay="0.5s"><img src="assets/images/buttons/google.png" alt="button"></a>
              <a href="#0" class="wow zoomIn" data-wow-duration="0.7s" data-wow-delay="0.5s"><img src="assets/images/buttons/apple.png" alt="button"></a>
            </div>
          </div>
        </div> -->
        </div>
      </div>
      <div
        style="width: 100%; position: fixed; left: 0; z-index: 99; bottom: 0"
      >
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget"></div>

          <script
            type="text/javascript"
            src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
            async
          >
              {
              "symbols": [
                {
                  "proName": "BITSTAMP:BTCUSD",
                  "title": "Bitcoin"
                },
                {
                  "proName": "BITSTAMP:ETHUSD",
                  "title": "Ethereum"
                },
                {
                  "description": "",
                  "proName": "BINANCE:DOGEUSDT"
                },
                {
                  "description": "Tron",
                  "proName": "BINGX:TRXUSDT"
                },
                {
                  "description": "Binance coin",
                  "proName": "POLONIEX:BNBUSDT"
                },
                {
                  "description": "Bitcoin Cash",
                  "proName": "COINBASE:BCHUSD"
                }
              ],
              "showSymbolLogo": true,
              "colorTheme": "light",
              "isTransparent": false,
              "displayMode": "adaptive",
              "locale": "en"
            }
          </script>
        </div>
        <!-- TradingView Widget END -->
      </div>
      <div class="footer-bottom" style="margin-bottom: 2.6rem">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <p class="copy-right-text text-md-left text-center mb-md-0 mb-3">
                Copyright © 2023. All Rights Reserved By
                <a href="/">247tradehub</a>
              </p>
            </div>
            <div class="col-md-6">
              <div class="card-list text-md-right text-center">
                <!-- <a href="#0"><img src="assets/images/icons/card-options/americanexpress.png" alt="image"></a>
              <a href="#0"><img src="assets/images/icons/card-options/maestro.png" alt="image"></a>
              <a href="#0"><img src="assets/images/icons/card-options/visa.png" alt="image"></a>
              <a href="#0"><img src="assets/images/icons/card-options/paypal.png" alt="image"></a>
              <a href="#0"><img src="assets/images/icons/card-options/mastercard.png" alt="image"></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer-section end -->

    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
      <span class="scroll-icon">
        <i class="fa fa-rocket"></i>
      </span>
    </div>
    <!-- scroll-to-top end -->

    <script src="https://tradeshub247.net/assets/js/jquery-3.3.1.min.js"></script>
    <script src="https://tradeshub247.net/assets/js/bootstrap.min.js"></script>
    <script src="https://tradeshub247.net/assets/js/jquery.nice-select.js"></script>
    <script src="https://tradeshub247.net/assets/js/lightcase.js"></script>
    <script src="https://tradeshub247.net/assets/js/owl.carousel.min.js"></script>
    <script src="https://tradeshub247.net/assets/js/jquery-ui.min.js"></script>
    <script src="https://tradeshub247.net/assets/js/wow.min.js"></script>
    <script src="https://tradeshub247.net/assets/js/jquery.waypoints.min.js"></script>
    <script src="https://tradeshub247.net/assets/js/jquery.countup.min.js"></script>
    <script src="https://tradeshub247.net/assets/js/jquery.paroller.min.js"></script>
    <script src="https://tradeshub247.net/assets/js/main.js"></script>

    <!-- <script src="https://tradeshub247.net/scripts/login.js"></script> -->
    <!-- <script src="./scripts/register.js"></script> -->
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/626962c8b0d10b6f3e6fa334/1g1lqjp3j";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
</html>
